src/main/mule/implementation/get-user.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-user-flow" doc:id="4afea1a3-f28e-4670-bef5-ea6296dcf648" >
		<logger level="INFO" doc:name="Get User Start Log" doc:id="4b3b6224-8b7a-41a0-8d39-d28c426cc747" message='#[vars.commonHeaders]'/>
		<ee:transform doc:name="Init DB Vars" doc:id="e11f50f6-c71c-4fde-8655-2d2328d8d585" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="searchUserQuery" ><![CDATA[%dw 2.0
output application/java
---
p('secure::database.query.accountuserdetail.search.all')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="DB Search User" doc:id="9c9a5bcb-13e9-4296-ba47-124908373a5b" name="db-search-user-subflow"/>
		<ee:transform doc:name="Construct Response" doc:id="90a9d599-010c-447a-a3cb-101265d73bd7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Periods
---
"users": payload map(usr, indx) -> {
	"username": usr.username,
	"fullname": usr.fullname,
 	"birthday": usr.birthday as String {format: "yyyy-MM-dd"} default null,
 	"age": between(now() as Date {format: "yyyy-MM-dd"} ,  usr.birthday as Date {format: "yyyy-MM-dd"}).years,
 	"gender": if(lower(usr.gender default '' )== lower(p("secure::database.params.userdetail.gender.m"))) p("secure::database.params.userdetail.gender.male") else p("secure::database.params.userdetail.gender.female"),
 	"dateRegistered":usr.date_registered as String {format: "dd-MM-yyyy"} default null
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Get User End Log" doc:id="05de8198-b34a-4bbc-9b81-d0f0b2383e5a" message='#["Get User End: " ++ write(payload,"application/json")]'/>
	<error-handler ref="main-error-handler"/>
	</flow>
	<flow name="get-user-byusername-flow" doc:id="521222fd-e097-4f53-a4d7-042aa125093b">
		<logger level="INFO" doc:name="Get User by Username Start Log" doc:id="84263b97-b855-4cdb-8e41-f071ebe2db2c" message="#[vars.commonHeaders]" />
		<ee:transform doc:name="Init Vars" doc:id="971285bf-7685-4070-9f80-d5c3bfa9f0ae">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="searchUserQuery"><![CDATA[%dw 2.0
output application/java
---
p('secure::database.query.accountuserdetail.search.byusername')]]></ee:set-variable>
				<ee:set-variable variableName="searchUserParams"><![CDATA[%dw 2.0
output application/json
---
{
	username: attributes.uriParams.username
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="DB Search User" doc:id="3eb2c9a7-5e1b-4b1b-b1f0-122ce355385a" name="db-search-user-subflow" />
		<choice doc:name="Choice
Route 1: Raise User Not Found Error
Default: Do Nothing" doc:id="59ed6a78-0f85-424d-bb25-b11e0b951419" >
			<when expression="#[sizeOf(payload) &lt;= 0]">
				<raise-error doc:name="Raise User Not Found Error" doc:id="252c4f82-de55-4fbc-85c3-ac134d4156e7" type="CUST:DATABASE_RECORD_NOT_FOUND" description='#["User Not Found"]'/>
			</when>
		</choice>
		<ee:transform doc:name="Construct Response" doc:id="da9c373e-47d3-40c9-a78a-d1e8a1e1287a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::core::Periods
---
 {
	"username": payload[0].username,
	"fullname": payload[0].fullname,
 	"birthday": payload[0].birthday as String {format: "yyyy-MM-dd"} default null,
 	"age": between(now() as Date {format : "yyyy-MM-dd"} ,  payload[0].birthday as Date {format : "yyyy-MM-dd"} default null).years default null,
 	"gender": if(lower(payload[0].gender default '' )== lower(p("secure::database.params.userdetail.gender.m"))) p("secure::database.params.userdetail.gender.male") else p("secure::database.params.userdetail.gender.female"),
 	"dateRegistered":payload[0].date_registered as String {format: "yyyy-MM-dd"} default null
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Get User by Username End Log" doc:id="251110cd-9de6-4021-99f8-9fab6fec0de1" message='#["Get User by Username End: " ++ write(payload,"application/json")]'/>
		<error-handler ref="main-error-handler"/>
	</flow>
</mule>
