src/main/mule/implementation/post-user.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post-user-flow" doc:id="a55985e4-9922-41d4-b8e9-56f84cc03b57" >
		<logger level="INFO" doc:name="Post User Start Log" doc:id="83a5d7d5-397a-4704-a01b-6f6ba67560c1" message='#["Post User Start: " ++ write(payload, "application/json")]'/>
		<ee:transform doc:name="Init DB Vars" doc:id="51b5f9b5-a1ae-47d5-a7a6-7ce30f6ca91f">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="insertUserQuery"><![CDATA[%dw 2.0
output application/java
---
p('secure::database.query.user.insert')]]></ee:set-variable>
				<ee:set-variable variableName="insertUserParams"><![CDATA[%dw 2.0
output application/json
import dw::GlobalFunctions as common
---
{
	userName: payload.username,
	firstName: payload.firstName,
	middleName: payload.middleName,
	lastName: payload.lastName,
	createdDateTime: common::getCurrentDateTime()
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Transactional" doc:id="a88d488f-4dba-46d3-83d9-b4efcab02be4" transactionalAction="ALWAYS_BEGIN">
			<flow-ref doc:name="DB Insert User" doc:id="86bd28fb-c22b-46e8-851d-dc16d40e79a6" name="db-insert-user-subflow" />
			<flow-ref doc:name="DB Insert User Detail" doc:id="58cb259d-6c7c-43f0-97a4-57924cb0523b" name="db-insert-userdetail-subflow" />
			<ee:transform doc:name="Set DB Vars" doc:id="f6ea8a70-f73f-49e0-a749-e5df4f59ab89">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="insertAccountParams"><![CDATA[%dw 2.0
output application/json
import dw::GlobalFunctions as common
---
{
	userId: payload.generatedKeys[0],
	userName: payload.username,
	dateRegistered: payload.dateRegistered as Date {format: "yyyy-MM-dd"},
	active: p('secure::database.params.account.active'),
	createdDateTime: common::getCurrentDateTime()
}]]></ee:set-variable>
				<ee:set-variable variableName="insertUserDetailParams"><![CDATA[%dw 2.0
output application/json
import dw::GlobalFunctions as common
---
{
	userId: payload.generatedKeys[0],
	userName: payload.username,
	fullName: payload.firstName ++ " " ++ payload.middleName ++ " " ++ payload.lastName,
	birthday: payload.birthday as Date {format: "yyyy-MM-dd"},
	gender: if(lower(payload.gender) == lower(p("secure::database.params.userdetail.gender.female"))) p("secure::database.params.userdetail.gender.f") else p("secure::database.params.userdetail.gender.m"),
	createdDateTime: common::getCurrentDateTime()
}]]></ee:set-variable>
				<ee:set-variable variableName="insertAccountQuery"><![CDATA[%dw 2.0
output application/java
---
p('secure::database.query.account.insert')]]></ee:set-variable>
				<ee:set-variable variableName="insertUserDetailQuery"><![CDATA[%dw 2.0
output application/java
---
p('secure::database.query.userdetail.insert')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<flow-ref doc:name="DB Insert Account" doc:id="ae7f08d6-e415-4e19-82a9-922a9e4c919b" name="db-insert-account-subflow" />
			
		</try>
		<ee:transform doc:name="Construct Response" doc:id="ab730292-e031-4eb1-9ca9-993422c41902">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Post User End Log" doc:id="b4be8a13-ba79-4411-b161-48586b7a078f" message='#["Post User End"]'/>
		<error-handler ref="main-error-handler"/>
	</flow>
	<flow name="post-multiple-users-flow" doc:id="02f895b7-30bc-4768-b623-f29f61b5b42f">
		<logger level="INFO" doc:name="Post User Start Log" doc:id="7d76ce5b-ea3b-4fbc-b37d-ab4c5908d4aa" message='#["Post User Start: " ++ write(payload, "application/json")]' />
		<ee:transform doc:name="Init Vars" doc:id="ac7f7937-b7f3-4a5c-8620-4c335e55c650">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="insertUserQuery"><![CDATA[%dw 2.0
output application/java
---
p('secure::database.query.user.insert')]]></ee:set-variable>
				<ee:set-variable variableName="insertUserParams"><![CDATA[%dw 2.0
output application/json
import dw::GlobalFunctions as common
---
payload.users map(usr, idx) ->
{
	userName: usr.username,
	firstName: usr.firstName,
	middleName: usr.middleName,
	lastName: usr.lastName,
	createdDateTime: common::getCurrentDateTime()
}]]></ee:set-variable>
				<ee:set-variable variableName="insertAccountParams"><![CDATA[%dw 2.0
output application/json
import dw::GlobalFunctions as common
---
payload.users map(usr, idx) ->
{
	userName: usr.username,
	dateRegistered: usr.dateRegistered as Date {format: "yyyy-MM-dd"},
	active: p('secure::database.params.account.active'),
	createdDateTime: common::getCurrentDateTime()
}]]></ee:set-variable>
				<ee:set-variable variableName="insertUserDetailParams"><![CDATA[%dw 2.0
output application/json
import dw::GlobalFunctions as common
---
payload.users map(usr, idx) ->
{
	userName: usr.username,
	fullName: usr.firstName ++ " " ++ usr.middleName ++ " " ++ usr.lastName,
	birthday: usr.birthday as Date {format: "yyyy-MM-dd"},
	gender: if(lower(usr.gender) == lower(p("secure::database.params.userdetail.gender.female"))) p("secure::database.params.userdetail.gender.f") else p("secure::database.params.userdetail.gender.m"),
	createdDateTime: common::getCurrentDateTime()
}]]></ee:set-variable>
				<ee:set-variable variableName="insertAccountQuery"><![CDATA[%dw 2.0
output application/java
---
p('secure::database.query.account.bulk.insert')]]></ee:set-variable>
				<ee:set-variable variableName="insertUserDetailQuery"><![CDATA[%dw 2.0
output application/java
---
p('secure::database.query.userdetail.bulk.insert')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Transactional" doc:id="ce29b114-d072-44d9-a40b-fa6242213be5" transactionalAction="ALWAYS_BEGIN">
				<flow-ref doc:name="DB Insert User" doc:id="d59f61f0-3dac-47ec-932a-53f373ee722b" name="db-bulkinsert-user-subflow" />
				<flow-ref doc:name="DB Insert Account" doc:id="ef5f8c51-817f-40c0-b120-42fb6c8a9614" name="db-bulkinsert-account-subflow" />
				<flow-ref doc:name="DB Insert User Detail" doc:id="1f95b4e3-74fd-40ab-afe4-36eff80069b6" name="db-bulkinsert-userdetail-subflow" />
			<error-handler ref="database-error-handler" />
			</try>

		<ee:transform doc:name="Construct Response" doc:id="c2fc2aec-f0d6-4680-9ad7-635a04ef3903">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Post User End Log" doc:id="7b59ea95-6cea-48bc-9e27-ad5339f77b18" message='#["Post User End"]' />
		<error-handler ref="main-error-handler" />
	</flow>
	
</mule>
