src/main/mule/account-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

       <flow name="account-sys-api-main">
        <http:listener config-ref="account-sys-api-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<ee:transform doc:name="Init Vars" doc:id="5d58cae6-67fc-4be8-8c98-e62976f97e95" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="commonHeaders" ><![CDATA[%dw 2.0
output application/json
---
{
	"correlationId":attributes.headers.'x-correlationid',
	"code": attributes.headers.'x-code'
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="account-sys-api-config"/>
		<error-handler ref="apikit-error-handler"/>
      
    </flow>
    <flow name="account-sys-api-console">
        <http:listener config-ref="account-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
         <apikit:console config-ref="account-sys-api-config" />
       		<error-handler ref="apikit-error-handler"/>
    </flow>
    <flow name="get:\users:account-sys-api-config">
		<flow-ref doc:name="Invoke Get User" doc:id="8b23429b-09a0-48cf-b03e-26365f792dc1" name="get-user-flow"/>
    </flow>
    <flow name="get:\users\(username):account-sys-api-config">
		<flow-ref doc:name="Invoke Get User By Username" doc:id="e19d9307-b211-437a-86fc-54c6fe4bb9c9" name="get-user-byusername-flow"/>
    </flow>
    <flow name="post:\users:application\json:account-sys-api-config">
		<choice doc:name="Choice" doc:id="d8872abf-26cb-4713-8c8e-4664aba5f03e" >
			<when expression='#[isEmpty(payload.users default null)]'>
				<flow-ref doc:name="Invoke Post User" doc:id="d171b616-8c90-432a-bdb4-c6a187c46bc3" name="post-user-flow"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Invoke Post Multiple Users" doc:id="494838b2-3d13-44c0-a79e-dc780705c847" name="post-multiple-users-flow" />
			</otherwise>
		</choice>
    </flow>
</mule>
